@font-face {
  font-family: "EDU-Regular";
  src: url("../assets/fonts/EduNSWACTFoundation-Regular.ttf");
}
@font-face {
  font-family: "EDU-Medium";
  src: url("../assets/fonts/EduNSWACTFoundation-Medium.ttf");
}
@font-face {
  font-family: "EDU-Bold";
  src: url("../assets/fonts/EduNSWACTFoundation-Bold.ttf");
}

@font-face {
  font-family: "EDU-semiBold";
  src: url("../assets/fonts/EduNSWACTFoundation-SemiBold.ttf");
}
