.rtl {
  text-align: right;
  .slick-slider {
    .slick-track {
      direction: rtl;
    }
    .slick-next {
      left: -23px !important;
      &:before {
        content: "\21FD";
        position: absolute;
        // background-image: url("./../assets/images/Arrow_-_green.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 12px 9px;
        box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.15);
      }
    }
    .slick-prev {
      right: 14px;
      z-index: 1000;
      &:before {
        content: "\21FE";
        position: absolute;
        // background-image: url("./../assets/images/Arrow_-_green.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 12px 9px;
        box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.15);
      }
    }
  }
  .MuiBreadcrumbs-separator {
    .MuiSvgIcon-fontSizeSmall {
      transform: rotateY(180deg);
    }
  }
  .menu-item-active {
    background-color: rgba(0, 0, 0, 0.04);
    border-right: 5px solid $primaryColor;
    border-left: 0;
    border-radius: 2px;
  }
}
