$primaryColor: #3084b2;
$secondaryColor: #eb475c;
$primaryLightColor: #02abc9;
$secondaryLightColor: #38ef7d;
$drakPrimaryColor: #23242e;
$lightPrimaryColor: #38a5ad;
$darkSeconaryColor: #1a2433;

/* ============== Fonts ================= */
$fontExtentions: "OTF";
$fontFamilies: "NeoSansArabic", "29LT-Azer-Regular", "29LT-Azer-Medium",
  "29LT-Azer-Black", "29LT-Azer-Bold";
