$primaryColor: #3084b2;
$secondaryColor: #11998e;
$primaryLightColor: #02abc9;
$secondaryLightColor: #38ef7d;
$drakPrimaryColor: #23242e;
$lightPrimaryColor: #38a5ad;
$darkSeconaryColor: #1a2433;
$darkgreen: rgba(17, 153, 142, 1);
$grayColor: #788995;
$orangeColor: #df9251;
$greenColor: #5cb366;
$darkGray: #788895;
$purpleColor: #7f15df;
$successGreen: #5cb366;
$dangerColor: #cf2424;
/* ============== Fonts ================= */
$fontExtentions: "OTF";
$fontFamilies: "NeoSansArabic", "29LT-Azer-Regular", "29LT-Azer-Medium",
  "29LT-Azer-Black", "29LT-Azer-Bold";
